

*{
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.img{
  text-align: justify;
  width: [100%];
  border: 20px solid transparent;
  margin-right:10px;
  margin-bottom:-140px;
}


body{
  background: url("background..jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto';
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.maincontainer{
  margin: 200px;
  letter-spacing: 1px;  
  padding: 20px;
  width: 100%
  
}
.other{
    margin-bottom: 40px;
}
.form-control{
  margin-bottom: 20px;
}
.container{
  width: 600px;
  height: 630px;
  background: #fff;
  position: absolute;
  right: 60px;
  box-shadow: 0 0 20px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: -650px;
}
h2{
  color:#fff8f8;
  font-size: 40px
}
h3{ align-items: center;
  color:#fdfdfd;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 40px;
}
h4{align-items: center;
  color:#ffffff;
  margin-right: 20px;

}
p{
  text-align: left;
  letter-spacing: 1px;  
  font-size: 45px;
  margin-bottom: 20px;
  color:rgb(42, 46, 66) ;
}

.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child{
  margin-right: 0;
}

.msg .area{
  height: 100px;
}
input[type=button],
      input[type=submit] {
  width: 250px;
  background: #486255;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  right: 500px;
  
      }
input[type=button],input[type=submit]:hover {
	background: #779d8a;
	border: 1px solid  #779d8a;
	border-radius: px;
	box-shadow: 5px 5px 5px #b1abab;
	text-shadow: none;
}
.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}

::-webkit-input-placeholder{
  font-family: 'roboto';
}
